body {
    background-color: lightskyblue;
    display: flex;
    flex-direction: column;
}

#ifElse {
    margin: 20px 30px;
    line-height: 35px;
}

#cycle {
    margin: 20px 30px;
    line-height: 30px;
}

#functionTask {
    margin: 20px 30px;
}

.picture {
    display: flex;
    justify-content: space-between;
    padding: 50px 100px;
}
