body {
    background-color: dodgerblue;
    display: flex;
    flex-direction: column;
}

#ifElse {
    margin: 20px 30px;
    line-height: 35px;
}

#cycle {
    margin: 20px 30px;
    line-height: 30px;
}

#functionTask {
    margin: 20px 30px;
}

.picture {
    display: flex;
    justify-content: space-between;
    padding: 50px 100px;
}
.del-button{
    padding: 5px;
    color: white;
    cursor: pointer;
    border: 1px solid black;
    border-radius: 10%;
}